@font-face
{
	font-family: lato-light;
	src: url('../font/lato-light.woff');
}
@font-face {
	font-family: 'Lato';

	src: url('../font/Lato/glyphicons-halflings-regular.woff2');
  }



.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}




body
{
  padding:0px;
  margin:0px;
  font-family:lato-light , "Segoe UI", Arial, "Microsoft Yahei", sans-serif;
}
.blue-bg{
	background-color:#1a80b6; /* #117450 */
	animation:green-bg 5s infinite alternate;
	-moz-animation:green-bg 5s infinite alternate;
	-webkit-animation:green-bg 5s infinite alternate;
	-o-animation:green-bg 5s infinite alternate;
}


.white-bg{
	background-color:white;
	animation:white-bg 5s infinite alternate;
	-moz-animation:white-bg 5s infinite alternate;
	-webkit-animation:white-bg 5s infinite alternate;
	-o-animation:white-bg 5s infinite alternate;
}



.m-center
{
	line-height: 1.5rem;
}

/* .m-fsz{
	font-size: larger;
} */

.home-h{
	font-size: larger;
	font-weight: bolder;
	
}
.cos-modal{
	font-size: 1rem;
}
.cos-modal2{
	font-size: 0.8rem;
	float: left;
	width: 100%;
}

.home-ha{
	cursor: pointer;
}
.home-date{
	font-weight: bold; 
	color: grey;
}

.event-mg{
	margin-left: 35px;
}
.list-group>li{
	text-align: center;
	font-size: 20px;
	margin: 10px;
	border-bottom: black;
}
.stronglabel{
	width: 5rem;
}



.listgroup>li>a{
	text-decoration: none;
	color: black;
	font-weight: 1.2rem;
	font-size: 1rem;
	cursor: pointer;
}

.img-responsive {
	display: block;
    margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	max-width: 100%;
  }
div{
	word-break: break-word;
	text-align: justify;
}

.head-p{
	font-size: 1.3rem;
	text-align: center;
}
.listgroup{
	list-style-type: none;   /* 去掉每个 ul 和 li 前面的圆点 */
}
.listgroup>li.active>a{
	font-weight: bolder;
}

.line-bottom{
	text-decoration: underline;
}
.none-click,.none-click:hover{

	cursor:not-allowed;
}
.disabled{
	pointer-events: none;
}
.dropdown:hover{
	cursor: pointer;
}
.lable-p{
	font-size: 0.8rem;
	font-weight: bold;
}






@keyframes white-bg
{
	form{background-color:#ffffff;}
	to{background-color:white;}
}
@-moz-keyframes white-bg
{
	form{background-color:white;}
	to{background-color:white;}
}
@-webkit-keyframes white-bg
{
	form{background-color:white;}
	to{background-color:white;}
}
@-o-keyframes white-bg
{
	form{background-color:white;}
	to{background-color:white;}
}